/* You can add global styles to this file, and also import other style files */
.primary_btn {
    background-color: rgba(0, 0, 255, 0.871);
    padding: 4px 8px;
    margin: 10px 0;
    color: whitesmoke;
    font-size: 12px;
    font-weight: 700;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 255, 0.871) 3px 3px 5px;
}

.primary_btn:hover {
    background-color: brown;
    box-shadow: brown 3px 3px 5px;
}

.dark_btn {
    background-color: black;
    padding: 4px 8px;
    margin: 10px 0;
    color: whitesmoke;
    font-size: 12px;
    font-weight: 700;
    border-radius: 8px;
    box-shadow: black 2px 2px 5px;
}

.center_button_dev {
    display: flex;
    justify-content: space-around;
}

.form_control {
    padding: 2px 5px;
    font-size: 12px;
    border: lightblue 3px solid;
    border-radius: 7px;
}

.form_group {
    display: flex;
    flex-direction: column  ;
    padding: 2px;
    margin: 10px 0;
    justify-content: space-around;
}

.text-center {
    text-align: center;
}

.list_group {
    list-style-type: none;
    padding: 10px;
    box-shadow: 3px 3px 4px rgb(199, 225, 236);
}

.list_group_items {
    text-decoration: none;
    border-radius: 7px;
    font-weight: 500;
    background-color: rgb(210, 230, 230);
    border: 2px solid rgba(191, 229, 245, 0.735);
    margin: 3px;
    padding: 10px;
}

.nav-group {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.nav-list-items {
    margin: 5px;
    text-decoration: none;
    justify-content: space-around;
}

.formDesign {
    background: url('/images/Bright-spiral.jpg');
    background-blend-mode: overlay;
    padding: 30px;
    margin: 10px 0;
    object-fit: contain;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    border-color: skyblue 5px solid;
    box-shadow: rgb(167, 167, 167) 12px 12px 12px;
}

.formDesign:hover {
    background-color: rgba(135, 207, 235, 0.791);
}

.center_form {
    display: flex;
    justify-content: space-around;
}

.centered_div {
  display: grid;
  justify-content: space-around;
  grid-column-gap: 25px;
  grid-template-columns: 200px 200px 200px;
  
}

.input_group_profilePic {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px 5px;
}
#welcome_dev {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    animation: dynamicBackground infinite 6s ease-in-out;
    height: 100%;
    width: 100%;

}

h1 {
    margin-top: 10%;
    margin-bottom: 0;
}

@keyframes dynamicBackground {
    0% {
        background: url('/images/Bright-spiral.jpg');
        background-size: cover;
        object-fit: contain;
        height: 100%;
        width: 100%;
    }

    35% {
        background: url('/images/spiral-desgin.jpg');
        background-size: cover;
        object-fit: contain;
        color: white;
        height: 100%;
        width: 100%;
    }

    70% {
        background: url('/images/Thread-design.jpg');
        background-size: cover;
        object-fit: contain;
        color: green;
        height: 100%;
        width: 100%;
    }

    100% {
        background: url('/images/Bright-spiral.jpg');
        background-size: cover;
        object-fit: contain;
        height: 100%;
        width: 100%;
    }
}
